#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Comfortaa', cursive;

  --primary-color: rgb(46, 110, 163);
  --secondary-color: rgb(236, 255, 255);
  --subtle-detail-color: rgba(255, 196, 0, 0.1);
  --font-color-light: #eee;
  --font-color-dark: #121212;
  --background-color-light: antiquewhite;
  --background-color-dark: #2323;
}

html {
  font-size: 62.5%;
}



.App__header {
  font-size: 2rem;
  display: flex;
  width: 100%;
  height: 8vh;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.App__headertitle,
 .App__headertitle:visited,
  .App__headertitle:hover,
   .App__headertitle:active {
    color: var(--secondary-color);
  text-decoration: none;
}

.App__main {
  padding-top: 8vh;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin: 0 auto;
}